/* Estilos generales */
body {
  font-family: 'Roboto Mono', monospace;
  margin: 20px;
  background-color: #efc1f3;
  color: #333;
}

/* Header */
#superior {
  background: linear-gradient(90deg, #2a7b9b, #57c785, #eddd53);
  color: rgb(27, 26, 26);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 20px 20px 10px;
  font-size: 2rem;
  
}


.contenedor-cajas {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap; /* Para que se acomode bien en pantallas chicas */
}

/* Estilos para cada cajita */
.texto1{
  background-color: #b3ffe6;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  max-width: 280px;
  min-height: 250px;
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: 10px 0 10px;
  font-family: "Unkempt", cursive;
  
}

.texto2{
  background-color: #bdf0db;
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 10px 0 10px;
 border-radius: 46px 46px 46px 46px;
  font-family: "Libertinus Mono", monospace;


}

/* Sección de texto largo */
.lorem {
  column-count: 5;
  column-gap: 60px;

}

.lorem p{
  margin: 0;
}
